<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="HueInvaders.Android.Android" android:versionCode="1" android:versionName="1.0">
    <uses-sdk />
    <application android:label="HueInvaders.Android.Android">
    </application>
</manifest>